<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<button onclick="login()" id="O_login">Login</button>
<button onclick="localStorage.TOKEN = null; window.location.reload">Logout</button>
<button onclick="window.location.reload()">reload</button>



<!-- begin wwww.htmlcommentbox.com -->
<div" id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24VHJAqCJ.pZ%2Frd474uoKUc1"+"&opts=16798&num=10&ts=1658502902581");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->


<script>
function _0x53ee(){var _0x39fb6a=['hidden','4272kfygZy','none','log','hcb_form_name','VALID_TOKEN_IDK','71wXCCZv','length','visibility','display','O_login','11568RzeXkZ','2831172jzWfZF','location','setItem','128130WqKttE','RANK','style','1519CMLcEj','change','hcb_submit','TOKEN','onload','getElementById','username','visible','getItem','277901jUtWya','4lBhLVz','18806ZOrrEk','2018520vzXCIY','225AyywBh','reload','627OmfCgP','312LUChxL','Token','addEventListener'];_0x53ee=function(){return _0x39fb6a;};return _0x53ee();}var _0x29c2f6=_0x1606;(function(_0x5d94ff,_0x593967){var _0x3bf226=_0x1606,_0x24fac8=_0x5d94ff();while(!![]){try{var _0x1818af=-parseInt(_0x3bf226(0x72))/0x1*(-parseInt(_0x3bf226(0x89))/0x2)+parseInt(_0x3bf226(0x78))/0x3*(-parseInt(_0x3bf226(0x88))/0x4)+parseInt(_0x3bf226(0x8a))/0x5+parseInt(_0x3bf226(0x77))/0x6*(parseInt(_0x3bf226(0x7e))/0x7)+-parseInt(_0x3bf226(0x92))/0x8*(-parseInt(_0x3bf226(0x8b))/0x9)+parseInt(_0x3bf226(0x7b))/0xa*(parseInt(_0x3bf226(0x8d))/0xb)+parseInt(_0x3bf226(0x8e))/0xc*(-parseInt(_0x3bf226(0x87))/0xd);if(_0x1818af===_0x593967)break;else _0x24fac8['push'](_0x24fac8['shift']());}catch(_0x235603){_0x24fac8['push'](_0x24fac8['shift']());}}}(_0x53ee,0xb32a2));var UserName='',LoggedIn=![],DecString,USER_DATA;function _0x1606(_0x2cc8f5,_0x3829f9){var _0x53ee0e=_0x53ee();return _0x1606=function(_0x160650,_0x22b3ad){_0x160650=_0x160650-0x70;var _0x5d15a8=_0x53ee0e[_0x160650];return _0x5d15a8;},_0x1606(_0x2cc8f5,_0x3829f9);}window[_0x29c2f6(0x82)]=function(){var _0x1a6b5e=_0x29c2f6;!LoggedIn&&(document[_0x1a6b5e(0x83)]('hcb_submit')[_0x1a6b5e(0x7d)][_0x1a6b5e(0x74)]=_0x1a6b5e(0x91)),rename(),setTimeout(function(){var _0x5f4673=_0x1a6b5e;document[_0x5f4673(0x83)]('hcb_form_name')[_0x5f4673(0x90)](_0x5f4673(0x7f),rename),document[_0x5f4673(0x83)](_0x5f4673(0x80))[_0x5f4673(0x90)]('click',Postcom),Ref();},0x3e8);};localStorage[_0x29c2f6(0x86)](_0x29c2f6(0x81))[_0x29c2f6(0x73)]>0x5&&(DecString=atob(localStorage[_0x29c2f6(0x86)]('TOKEN')),console['log'](localStorage['getItem']('TOKEN')),console[_0x29c2f6(0x94)](DecString),eval(DecString),(USER_DATA[_0x29c2f6(0x8f)]=btoa('VALID_TOKEN_IDK'))&&(console[_0x29c2f6(0x94)]('valid'),UserName=USER_DATA[_0x29c2f6(0x84)]+'\x20('+atob(USER_DATA[_0x29c2f6(0x7c)])+')',LoggedIn=!![],document['getElementById']('hcb_submit')[_0x29c2f6(0x7d)][_0x29c2f6(0x74)]=_0x29c2f6(0x85),document[_0x29c2f6(0x83)](_0x29c2f6(0x76))[_0x29c2f6(0x7d)]['display']=_0x29c2f6(0x93),rename()));function login(){var _0x4e58ee=_0x29c2f6,_0x1d8234=prompt('USER\x20TOKEN');DecString=atob(_0x1d8234),console[_0x4e58ee(0x94)](_0x1d8234),console[_0x4e58ee(0x94)](DecString),eval(DecString),(USER_DATA['Token']=btoa(_0x4e58ee(0x71)))&&(localStorage[_0x4e58ee(0x7a)](_0x4e58ee(0x81),_0x1d8234),console[_0x4e58ee(0x94)]('valid'),UserName=USER_DATA[_0x4e58ee(0x84)]+'\x20('+atob(USER_DATA[_0x4e58ee(0x7c)])+')',LoggedIn=!![],document[_0x4e58ee(0x83)](_0x4e58ee(0x80))['style']['visibility']=_0x4e58ee(0x85),document[_0x4e58ee(0x83)](_0x4e58ee(0x76))[_0x4e58ee(0x7d)][_0x4e58ee(0x75)]=_0x4e58ee(0x93),rename());}function loop(){Ref();}function Ref(){var _0x444a81=_0x29c2f6;!LoggedIn&&(document[_0x444a81(0x83)](_0x444a81(0x80))[_0x444a81(0x7d)]['visibility']=_0x444a81(0x91)),setTimeout(function(){var _0x1aa9c3=_0x444a81;document[_0x1aa9c3(0x83)](_0x1aa9c3(0x70))!==null&&(rename(),document[_0x1aa9c3(0x83)]('hcb_form_name')['addEventListener'](_0x1aa9c3(0x7f),rename),document[_0x1aa9c3(0x83)](_0x1aa9c3(0x80))[_0x1aa9c3(0x90)]('click',Postcom)),loop();},0x1f4);}function Postcom(){var _0x156dd3=_0x29c2f6;window[_0x156dd3(0x79)][_0x156dd3(0x8c)],rename();}function rename(){var _0x2c3d82=_0x29c2f6;document[_0x2c3d82(0x83)](_0x2c3d82(0x70))['value']=UserName;}
 
</script>

<style>
    body {
        background-color: white;
    }
</style>
</body>
